**1)** Create a class with names of fruits and add a new fruit, "fig", to the end of the list and print the updated list.

**2)** Create a list with the ages of the children in the class and print the length of the list.

**3)** Insert a new fruit, "grape", at the second position in the list and print the updated list.

**4)** Remove a specific fruit, "fig", from the list using the remove method and print the updated list.

**5)** Print the last fruit in the list after sorting it in reverse alphabetical order using the sort method.

**6)** Create a copy of the list sorted in alphabetical order without modifying the original list, and print both lists.

**7)** Delete the values from the first element up to the fourth element in the list given below

zodiac_signs = ["Aries", "Taurus", "Gemini", "Cancer", "Capricorn"]

**8)** Prompt the user to enter a name, then print the second letter of the entered name to the screen.

**9)** Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old. For example,

What is your name? Khalid

How old are you? 23

Khalid will be 100 years old in the year 2101

**10)** Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. Get Input from user. For example, 5 + 55 + 555 = 615

In [ ]:
# 1)
fruits = ["apple","banana"]
fruits.append("fig")
print(fruits)

['apple', 'banana', 'fig']

In [ ]:
# 2)
ages_of_children = [10, 20, 30]
print(len(ages_of_children))

3

In [ ]:
# 3)
fruits[1] = "grape"
print(fruits)

['apple', 'grape', 'fig']

In [ ]:
# 4)
fruits.remove("fig")
print(fruits)

['apple', 'grape']

In [ ]:
# 5)
unordered_list = ["test", "age", "live", "more"]
unordered_list.sort()
print(unordered_list[-1])

test

In [ ]:
# 6)
unordered_list = ["test", "age", "live", "more"]
print("Before copy unordered_list:{}".format(unordered_list))
copy_of_list = unordered_list.copy()
print("After copy copy_of_list:{}".format(copy_of_list))
unordered_list.sort()
print("After sort unordered_list:{}".format(unordered_list))
print("After sort copy_of_list:{}".format(copy_of_list))

Before copy unordered_list:['test', 'age', 'live', 'more']
After copy copy_of_list:['test', 'age', 'live', 'more']
After sort unordered_list:['age', 'live', 'more', 'test']
After sort copy_of_list:['test', 'age', 'live', 'more']

In [ ]:
# 7)
zodiac_signs = ["Aries", "Taurus", "Gemini", "Cancer", "Capricorn"]
del zodiac_signs[0:3]
print(zodiac_signs)

['Cancer', 'Capricorn']

In [ ]:
# 8)
name = input()
print(name[1])

Zhala
h

In [ ]:
# 9)
name = input()
print("what is your name?:",name)
age = int(input())
print("what is your age?:",age)
year = 2024+(100-age)
print("{} will be 100 years old in the year {}".format(name, year))

Khaled
what is your name?: Khaled
23
what is your age?: 23
Khaled will be 100 years old in the year 2101

In [ ]:
# 10)
n = int(input())
n1 = str(n)
n2 = n1 + n1
n3 = n1 + n1 + n1
result = int(n1) + int(n2) + int(n3)
print("{}+{}+{}={}".format(n1, n2, n3,result))

5
5+55+555=615