1) Get the keys from the dictionaries named *sample_dic* as a list
```
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
```

In [2]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
sample_key_list = []
for key in sample_dict:
  sample_key_list.append(key)
print(sample_key_list)

['Physics', 'Math', 'history']

2) Get sum of all the values in a dict

```
#Input:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
    
}

#Expected Output: 361

```

In [3]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50

}
sum = 0
for value in sample_dict.values():
  sum += value
print(sum)

361

3)Get the key of a minimum value from the following dictionary

```
#Input:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

#Expected Output: Math

```

In [7]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min_val = sample_dict['Physics']
min_key = 'Physics'
for key, value in sample_dict.items():
  if value < min_val:
    min_val = value
    min_key = key
print(min_key)

Math

4) Delete a list of keys from a dictionary
```
#Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

# Keys to remove
keys = ["name", "salary"]

# Expected Output: {'city': 'Baku', 'age': 23}
```

In [9]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

keys = ["name", "salary"]
for key in keys:
  if key in sample_dict:
    del sample_dict[key]
print(sample_dict)

{'age': 23, 'city': 'Baku'}

5) Create a dictionary by extracting the keys from a given dictionary

```
# Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}

# Keys to extract
keys = ["name", "salary"]

# Expected Output: {'name': 'Khalid', 'salary': 1000}
```

In [10]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

keys = ["name", "salary"]
new_dict = {}
for key in keys:
  if key in sample_dict:
    new_dict[key] = sample_dict[key]
print(new_dict)

{'name': 'Khalid', 'salary': 1000}

6) Take 10 integers from keyboard using loop and print their average value
on the screen.

In [12]:
sum = 0
for i in range(10):
  num = int(input(f"Num {i+1}"))
  sum += num
print(sum/10)

Num 11
Num 22
Num 33
Num 44
Num 55
Num 66
Num 77
Num 88
Num 99
Num 1010
5.5

7) Print multiplication table of 24 using loop.

In [13]:
for i in range(1, 11):
  print(f"24*{i}={24*i}")

24*1=24
24*2=48
24*3=72
24*4=96
24*5=120
24*6=144
24*7=168
24*8=192
24*9=216
24*10=240

8) Factorial of any number n is represented by n! and is equal to 1*2*3*....*(n-1)*n.

Write a program to calculate factorial of a number.

```
4! = 1*2*3*4 = 24
3! = 3*2*1 = 6
2! = 2*1 = 2

Also,
1! = 1
0! = 1
```

In [48]:
for i in range(1, 5):
  fact = 1
  print(f"{i}!=",end="")
  for j in range(1, i+1):
    if j != 1:
      print(f"{j-1}*", end="")
    fact *= j
  print(f"{i} = {fact}")

1!=1 = 1
2!=1*2 = 2
3!=1*2*3 = 6
4!=1*2*3*4 = 24

9) Write a program that calculates the sum of the digits of a given number. Ask the user to input a number

In [ ]:
input = int(input("Enter a number"))
sum = 0
while input > 0:
  sum += input % 10
  input = input // 10
print(sum)

10) Write a Python program that takes a string input from the user and counts the number of characters in the string.

In [23]:
str = input("ENter your String: ")
count = 0
for character in str:
  count += 1
print(count)

ENter your String: iugvygvk
8